.shoesBig img{
    width: 60vh;
    height: 50vh;
    border-radius: 10px;
}

.shoesSmall {
    width: 60vh;
    display: flex;
    justify-content: space-between;
}

.shoesSmall img{
   width: 14.5vh;
   padding: 0.5vh;
   border-radius: 15px;
}

@media (max-width:740px){
    .shoesBig img{
        width: 100vw;
    }
    .shoesSmall{
        width: 100vw;
    }
    .shoesSmall img{
        width: 75px;
        border-radius: 10px;
        margin: 0;
        padding: 0;

    }
}