*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

@media (max-width: 1225px){
  .mainContainer{
    display: flex;
    flex-direction: column;
  }
}